body {
  position: relative !important;
  margin: 0;
}
#tantip {
  position: fixed;
  top: calc(50% - 340px/2);
  right: 0;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  cursor: pointer;
}
#tantip #tantip-btn {
  width: 45px;
  height: calc(340px / 3.2);
  margin: 0 !important;
  padding: 0 !important;
  margin-left: -22.5px !important;
  margin-top: calc(340px/2 - calc(340px / 3.2)/2) !important;
  background: rgba(33, 117, 188, 0.9);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tantip #tantip-btn .tantip-btn-p {
  color: #fff;
  font-size: 21px;
}
#tantip #tantip-main {
  width: 250px;
  height: 340px;
  background: #fff;
  border: solid 1px #dbdbdb;
}
#tantip #tantip-main #tantip-main-header {
  width: 100%;
  height: 25px;
  background: #e7e7e7;
}
#tantip #tantip-main #tantip-main-header .tantip-main-p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
}
#tantip #tantip-main #tantip-main-content {
  width: 100%;
  height: calc(340px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-img-div {
  width: 100%;
  flex: 1;
  background: url(https://tanyiqu.gitee.io/tantip-cnblogs/src/imgs/alipay-frame.png) no-repeat center;
  background-size: 60%;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-img-div #tantip-img-frame {
  width: 125px;
  margin-top: 81px !important;
  margin-left: 62px !important;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-chimg {
  width: 100%;
  height: 48px;
  background: #eeeeee;
  display: flex;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-chimg .tantip-main-content-chimg-item {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-chimg .tantip-main-content-chimg-item .tantip-chimg-item-img {
  width: 65%;
}
#tantip #tantip-main #tantip-main-content #tantip-main-content-chimg .tantip-main-content-chimg-item:hover {
  background: #fff;
}
#tantip #tantip-main-footer {
  width: 100%;
  height: 25px;
  background: #e7e7e7;
}
#tantip #tantip-main-footer .tantip-main-p {
  line-height: 25px;
  text-align: right;
  font-size: 15px;
  margin-right: 10px !important;
}
#tantip #tantip-main-footer .tantip-main-p .tantip-main-p-a:hover {
  color: #000;
}
